<template>
    <div id="config-filter">
        <FilterView placeholder="filterPlaceHolder" v-model="searchTerm">
            <CustomButton
                v-if="selected.length && deleteButtonLabel"
                icon="trash-alt"
                class="default red-theme"
                @click="showConfirmMany = true"
            >
                {{ deleteButtonLabel }}
            </CustomButton>
            <CustomButton
                v-if="addButtonLabel"
                icon="plus"
                class="default green-theme"
                @click="handleNew"
            >
                {{ addButtonLabel }}
            </CustomButton>
        </FilterView>
        <component
            :is="modal"
            v-if="showEdit"
            v-model="item"
            :props="$props"
            @dismiss="showEdit = false"
            @close="handleClose"
        />
        <Confirm v-if="showConfirmOne" @dismiss="showConfirmOne = false" @close="handleDeleteOne">
            <span slot="header">{{ headerConfirmOne }}</span>
            <span slot="body">{{ bodyConfirmOne }}</span>
        </Confirm>
        <Confirm
            v-if="showConfirmMany"
            @dismiss="showConfirmMany = false"
            @close="handleDeleteMany"
        >
            <span slot="header">{{ headerConfirmMany }}</span>
            <span slot="body">{{ bodyConfirmMany }}</span>
        </Confirm>
        <h2 class="title">{{ title }}</h2>
        <LoadingDots v-if="isLoading" />
        <slot name="content" @select="handleSelect" />
    </div>
</template>

<script>
import FilterView from '@/components/config/Filter';
// import Modal from '@/components/config/ModalBusiness';
import Confirm from '@/components/config/DeleteConfirm';
import CustomButton from '@/components/IconButton';
import LoadingDots from '@/components/LoadingDots';
// import BusinessCard from '@/components/config/BusinessCard';
// import CardPager from '@/components/CardPager';

export default {
    props: ['filterPlaceHolder', 'addButtonLabel', 'deleteButtonLabel', 'title', 'items', 'value'],
    data() {
        return {
            selected: [],
            searchTerm: null,
            isLoading: true,
            showEdit: false,
            showConfirmOne: false,
            showConfirmMany: false,
        };
    },
    watch: {
        searchTerm() {
            this.selected.splice(0);
            // this.$emit('');
        },
    },
    computed: {
        filtered() {
            if (this.searchTerm) {
                const re = new RegExp(this.searchTerm, 'i');
                return this.items.filter((i) => re.test(this._filterValue(i)));
            }
            return this.items;
        },
    },
    mounted() {
        if (this._mounted) {
            this.isLoading = true;
            this.$parent._mounted(() => (this.isLoading = false));
        }
    },
    methods: {
        _getItem(id) {
            if (this._matchItem) {
                return this.items.find((t) => this._matchItem(t, id));
            }
            console.log('no _matchItem function');
            return null;
        },
        handleSelect(event) {
            if (!this._matchItem) {
                console.log('no _matchItem function');
                return;
            }

            const { id, checked } = event;
            const index = this.selected.findIndex((s) => this._matchItem(s, id));
            if (checked) {
                if (index === -1) {
                    this.selected.push(id);
                }
            } else {
                if (index > -1) {
                    this.selected.splice(index, 1);
                }
            }
        },
        handleConfirm(item) {
            this.item = this._getTheme(item);
            this.showConfirmOne = true;
        },
        handleEdit(item) {
            this.item = this._getTheme(item);
            this.showEdit = true;
        },
        handleClose() {
            // save it
            if (!this.item.id) {
                this._save(this.item);
            } else {
                this._update(this.item);
            }
        },
        handleNew() {
            this.item = this._getNew();
            this.showEdit = true;
        },
        handleDeleteOne() {
            this._deleteOne(this.item);
        },
        handleDeleteMany() {
            this._deleteMany(this.selected);
        },
    },
    components: {
        Confirm,
        FilterView,
        CustomButton,
        LoadingDots,
    },
};
</script>

<style lang="scss"></style>
