<template>
    <div id="help-settings">
        <div class="help-header">
            <div class="back">
                <router-link to="/home">
                    <font-awesome-icon icon="home" class="back-icon" />
                </router-link>
            </div>
        </div>
        <h2 class="title">Licences et droits d'auteur</h2>

        <div class="help-body">
            <div class="help-section">
                <h3 class="section--title">LeBonTag</h3>
                <div class="section--para license">
                    L'application "LeBonTag" est sous Licence publique générale GNU "<b
                        >GNU GENERAL PUBLIC LICENSE 3.0</b
                    >".
                </div>
                <div class="section--para license">
                    <img class="license-logo" src="@/assets/gplv3.png" alt="by-sa" />
                </div>
                <div class="section--para license">
                    La licence complète est consultable sur
                    <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" class="link"
                        >www.gnu.org</a
                    >.
                </div>

                <h4 class="section--title">Avis de licence</h4>
                <div class="section--para license doc-h4">Copyright (C) 2020 Geonov</div>
                <div class="section--para license doc-h4">
                    This program is free software: you can redistribute it and/or modify it under
                    the terms of the GNU General Public License as published by the Free Software
                    Foundation, either version 3 of the License, or (at your option) any later
                    version.<br />
                    This program is distributed in the hope that it will be useful, but WITHOUT ANY
                    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
                    PARTICULAR PURPOSE. See the GNU General Public License for more details.<br />
                    You should have received a copy of the GNU General Public License along with
                    this program. If not, see
                    <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" class="link"
                        >www.gnu.org</a
                    >.
                </div>
                <div class="section--para license doc-h4">
                    Ce programme est un logiciel libre : vous pouvez le redistribuer et/ou le
                    modifier suivant les termes de la GNU General Public License telle que publiée
                    par la Free Software Foundation, soit la version 3 de la Licence, soit (à votre
                    gré) toute version ultérieure.<br />
                    Ce programme est distribué dans l'espoir qu'il sera utile, mais SANS AUCUNE
                    GARANTIE : sans même la garantie implicite de COMMERCIALISABILITÉ ni
                    d'ADÉQUATION À UN OBJECTIF PARTICULIER. Consultez la GNU General Public License
                    pour plus de détails.<br />
                    Vous devriez avoir reçu une copie de la GNU General Public License avec ce
                    programme. Si ce n'est pas le cas, consultez
                    <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" class="link"
                        >www.gnu.org</a
                    >.
                </div>
            </div>
        </div>

        <div class="help-body">
            <div class="help-section">
                <h3 class="section--title">OpenStreetMap</h3>
                <div class="section--para license">
                    L'application "LeBonTag" utilise des données ouvertes © les contributeurs
                    d'OpenStreetMap.
                </div>
                <div class="section--para license">
                    <img class="license-logo" src="@/assets/osm.png" alt="OpenStreetMap" />
                </div>
                <div class="section--para license">
                    La licence complète est consultable sur
                    <a
                        href="https://www.openstreetmap.org/copyright/en"
                        target="_blank"
                        class="link"
                        >www.openstreetmap.org</a
                    >.
                </div>

                <h4 class="section--title">Avis de licence</h4>

                <div class="section--para license doc-h4">
                    OpenStreetMap® is open data, licensed under the Open Data Commons Open Database
                    License (ODbL) by the OpenStreetMap Foundation (OSMF). <br />
                    You are free to copy, distribute, transmit and adapt our data, as long as you
                    credit OpenStreetMap and its contributors. If you alter or build upon our data,
                    you may distribute the result only under the same licence. The full legal code
                    explains your rights and responsibilities. <br />
                    The cartography in our map tiles, and our documentation, are licensed under the
                    Creative Commons Attribution-ShareAlike 2.0 license (CC BY-SA).
                </div>
                <div class="section--para license doc-h4">
                    OpenStreetMap® est un ensemble de données ouvertes, disponibles sous la licence
                    libre Open Data Commons Open Database License (ODbL) accordée par la Fondation
                    OpenStreetMap (OSMF). <br />
                    Vous êtes libre de copier, distribuer, transmettre et adapter nos données, à
                    condition que vous créditiez OpenStreetMap et ses contributeurs. Si vous
                    modifiez ou utilisez nos données dans d'autres œuvres dérivées, vous ne pouvez
                    distribuer celles-ci que sous la même licence. Le texte légal complet détaille
                    vos droits et responsabilités. <br />
                    Nos carreaux de rendu cartographiques, ainsi que notre documentation, sont
                    disponibles sous la licence Creative Commons paternité – partage à l'identique
                    2.0 (CC-BY-SA).
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
b {
    font-weight: bold;
}
.license {
    font-size: 1.2em;
    padding-bottom: 10px;
}
.link {
    text-decoration: none;
    color: #6c3e91;
    font-weight: bold;
}
.license-logo {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    max-height: 60px;
}
.help-header {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;

    .back {
        box-sizing: border-box;
        width: 50px;
        opacity: 0.5;
        box-shadow: 2px 0 4px 2px rgba(212, 216, 221, 0.43);
        display: flex;
        align-items: center;
        justify-content: center;
        .back-icon {
            width: 25px;
            height: 25px;
            color: #8e919b;
        }
    }
}
.help-body {
    margin: 25px 30px;
    padding: 20px 0;
    border: 1px solid #9ca5b0;
    border-radius: 5px;
    border-top: 5px solid #6c3e91;
    background-color: #ffffff;

    .help-section {
        h3.section--title {
            margin: 5px 35px 20px;
            padding-bottom: 5px;
            font-size: 2em;
            font-weight: 600;
            text-transform: uppercase;
            border-bottom: 3px solid black;
        }
        div.section--para {
            margin: 5px 35px 20px;
        }
    }

    .mt-5 {
        margin-top: 5em;
    }
}
</style>
