<template>
    <div id="help-settings">
        <div class="help-header">
            <div class="back">
                <router-link to="/home">
                    <font-awesome-icon icon="home" class="back-icon" />
                </router-link>
            </div>
        </div>

        <h2 class="title">Wiki</h2>

        <div class="help-body">
            <div class="help-section">
                <div class="section--para doc">
                    L'aide de l'application LeBonTag est dorénavant disponible sous la forme d'un
                    wiki à cette adresse :
                    <a href="https://wiki.lebontag.fr" target="_blank">wiki.lebontag.fr</a>.
                </div>
                <div class="section--para doc">
                    Le wiki permet de maintenir plus facilement la documentation à jour et tous les
                    utilisateurs du BonTag peuvent la modifier.
                </div>
            </div>
        </div>
    </div>
</template>

<script></script>

<style lang="scss">
dl {
    padding-top: 1em;
}
dt {
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 4px;
}
dd {
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 2px;
}
.image-center {
    margin-left: auto;
    margin-right: auto;
}
.aligncenter {
    text-align: center;
}
#tools td,
#valid td {
    padding: 8px;
    vertical-align: middle;
}
.doc-image {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 500px;
}
b {
    font-weight: bold;
}
.doc {
    font-size: 1.2em;
    padding-bottom: 10px;
}
.doc-h4 {
    font-size: 1.2em;
    padding-bottom: 10px;
    margin-left: 45px !important;
}
.help-header {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;

    .back {
        box-sizing: border-box;
        width: 50px;
        opacity: 0.5;
        box-shadow: 2px 0 4px 2px rgba(212, 216, 221, 0.43);
        display: flex;
        align-items: center;
        justify-content: center;

        .back-icon {
            width: 25px;
            height: 25px;
            color: #8e919b;
        }
    }
}
.help-body {
    margin: 25px 30px;
    padding: 20px 0;
    border: 1px solid #9ca5b0;
    border-radius: 5px;
    border-top: 5px solid #6c3e91;
    background-color: #ffffff;

    .help-section {
        h3.section--title {
            margin: 5px 35px 20px;
            padding-bottom: 5px;
            font-size: 2em;
            font-weight: 600;
            text-transform: uppercase;
            border-bottom: 3px solid black;
        }
        h4.section--title {
            margin: 5px 45px 20px;
            padding-bottom: 2px;
            font-size: 1.5em;
            font-weight: 500;
            text-transform: uppercase;
            border-bottom: 2px solid black;
        }
        div.section--para {
            margin: 5px 35px 20px;
        }
    }

    .mt-5 {
        margin-top: 5em;
    }
}
</style>
