<template>
    <div class="input-tag-checker">
        <div class="input--checker">
            <CustomInput v-bind="$props" :value="tags" @input="handleInput" class="stretch" />
            <font-awesome-icon
                v-if="!disabled && !err"
                icon="check-circle"
                class="fa-lg status green"
            />
            <font-awesome-icon
                v-if="!disabled && err"
                icon="times-circle"
                class="fa-lg status red"
            />
        </div>
        <div v-if="err" class="err-msg">{{ err }}</div>
    </div>
</template>

<script>
import CustomInput from '@/components/Input';

export default {
    props: {
        ...CustomInput.props,
        value: {
            type: Object,
        },
    },
    data() {
        return {
            err: null,
        };
    },
    computed: {
        tags: function() {
            return this.convertedObject();
        },
    },
    methods: {
        convertedObject() {
            // assume value is safe
            const string = JSON.stringify(this.value);

            if (string) {
                // convert { "amenity":"school", "school:FR":"secondaire" }
                // to 'amenity=school,school:FR=secondaire'
                const colon = /":"/g;
                const quote = /"/g;
                return string
                    .substring(1, string.length - 1)
                    .replace(colon, '=')
                    .replace(quote, '');
            }
            return '';
        },
        convertedString(s) {
            // convert 'amenity=school,school:FR=secondaire'
            // to '"amenity":"school","school:FR":"secondaire"'
            const equal = /=/g;
            const word = /([\w:]+)/g;

            return s.replace(word, '"$&"').replace(equal, ':');
        },
        isParsable(value) {
            try {
                const converted = this.convertedString(value);
                JSON.parse(`{${converted}}`);
                this.err = null;
                return true;
            } catch (e) {
                this.err = e.message;
                return false;
            }
        },
        handleInput(event) {
            const value = event;

            const check = this.isParsable(value);
            if (check) {
                const converted = this.convertedString(value);
                this.$emit('input', JSON.parse(`{${converted}}`));
            }
        },
    },
    components: {
        CustomInput,
    },
};
</script>

<style lang="scss">
.input-tag-checker {
    position: relative;

    .input--checker {
        position: relative;

        input {
            padding-right: 33px;
            text-overflow: ellipsis;
        }

        .status {
            position: absolute;
            bottom: 9px;
            right: 10px;

            &.green {
                color: #93c11f;
            }

            &.red {
                color: #ea5b0c;
            }
        }
    }

    .err-msg {
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 9px;
        color: #ea5b0c;
        font-weight: 700;
    }
}
</style>
