<template>
    <a
        href="#"
        class="map-search-control"
        :class="{ open: isOpen }"
        @click.capture.stop="toggle"
        v-click-outside
    >
        <font-awesome-icon icon="search" class="fa-lg" />
        <input
            class="map-search-input"
            :class="{ open: isOpen }"
            placeholder="Rechercher sur la carte"
            @keyup.enter="handleSearch"
        />
    </a>
</template>

<script>
export default {
    data() {
        return {
            isOpen: false,
        };
    },
    methods: {
        toggle: function() {
            if (!this.isOpen) {
                this.isOpen = true;
                this.$refs.searchInput.focus();
            }
        },
        handleSearch: function() {
            console.log('search...', this.$refs.searchInput.value);
            this.isOpen = false;
        },
        handleClickOutside() {
            this.isOpen = false;
        },
    },
};
</script>

<style lang="scss">
.map-search-control {
    // display: inline-block;
    // background-color: #ffffff;
    // text-align: center;
    // height: 30px;
    // line-height: 26px;
    // padding: 0 7px;
    min-width: 26px;
    transition: all 0.5s ease-in-out;

    &.open {
        // min-width: 26px;
        // width: auto !important;
        width: 100% !important;

        input.map-search-input {
            max-width: 355px;
            transition: all 0.5s ease-in-out;
        }
    }

    input.map-search-input {
        border: none;
        padding: 0;
        font-size: 13px;
        background: transparent;
        outline: none;
        width: 215px;
        max-width: 0;
        transition: all 0.5s ease-in-out;

        // &.open {
        //     // padding: 0 10px;
        //     max-width: 355px;
        //     transition: all 0.5s ease-in-out;
        // }
    }
}
</style>
